<img src="assets/img/Posgrado Naranja@2x.png" class="logo-img-carta">
<img src="assets/img/semicirculo_2.png" class="semicircle-img-carta">
<img src="assets/img/Correo@2x.png" class="icon-img-carta">
<img src="assets/img/5.jpg" class="bg-full">

<div class="col-xs-7 col-xs-offset-5" style="margin-top: 2vh; margin-bottom: 5vh;">
    <div class="col-xs-5">
        <label>¡BIENVENIDO(A)!</label>
        <label ng-if="properties.estatusSolicitud !=='No definido'">Esta es tu carta de admisión</label>
        <label ng-if="properties.estatusSolicitud ==='No definido'">El resultado de admisión aún no esta disponible</label>
    </div>
    <div ng-if="properties.estatusSolicitud ==='No definido'" class="col-xs-7 document-container-carta" id="carta" style="box-shadow: none">
        
    </div>
    <div ng-if="properties.estatusSolicitud !=='No definido'" class="col-xs-7 document-container-carta" id="carta">
        <!-- Contenido de la carta -->
    </div>
    
    <!--<div class="col-xs-7 document-container-carta">-->
    <!--    <div class="col-xs-12">-->
    <!--        <img src="assets/img/Posgrado Naranja@2x.png" class="logo-img-carta-pdf">-->
    <!--    </div>-->
    <!--    <div class="col-xs-12 text-right" >-->
    <!--        <label>[DIRECCIONCAMPUS]</label><br>-->
    <!--        <label>[FECHA]</label>-->
    <!--    </div>-->
    <!--    <div class="col-xs-12 text-left">-->
    <!--        Estimado Alumno:-->
            
    <!--        [TEXTO]-->
    <!--    </div>-->
    <!--    <div class="col-xs-12 text-center">-->
    <!--        <label>[REMITENTE]</label><br>-->
    <!--        <label>[PUESTO]</label>-->
    <!--    </div>-->
    <!--    <div class="col-xs-12 text-left">-->
    <!--        <div class="col-xs-8 direcciones">-->
    <!--            <div class="col-xs-12">-->
    <!--                <label>[CAMPUS]</label>-->
    <!--                <p>[DIRECCIONCAMPUS]</p>    -->
    <!--            </div>-->
    <!--            <div class="col-xs-12">-->
    <!--                <label>[CAMPUS]</label>-->
    <!--                <p>[DIRECCIONCAMPUS]</p>    -->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-xs-4">-->
    <!--            Dirección de posgrado-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</div>
<div class="bottom-banner">
    <div class="col-xs-12 bottom-banner-content">
        <div class="col-xs-6 col-xs-offset-3 bottom-banner-text">Sube tu carta a tus redes sociales</div>
        <div class="col-xs-3 ">
            <div class="col-xs-3">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="widgets/customPSGRBackgroundImageCarta/assets/img/facebook.png" class="imagen-red-social"/>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="widgets/customPSGRBackgroundImageCarta/assets/img/linkedin.png" class="imagen-red-social"/>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://twitter.com/" target="_blank">
                    <img src="widgets/customPSGRBackgroundImageCarta/assets/img/twitter.png" class="imagen-red-social"/>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="widgets/customPSGRBackgroundImageCarta/assets/img/instagram.png" class="imagen-red-social"/>
                </a>
            </div>
        </div>
    </div>
</div>