body{
    font-family: arial;
}

.hide-component{
    visibility: hidden;
    height: 0px;
}

.title-div{
    color: white;
    position: absolute;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index:2;
}

.top-menu{
    width: calc(100vw - 30px);
    position: fixed;
    /*background: #031d42;*/
    border-radius: 0 0 100vh 100vh;
    z-index: 1;
    height: 55vh;
}

.bottom-menu{
    width: calc(100vw - 30px);
    position: fixed;
    bottom: 0;
    min-height: 100px;
    /*background: #fe721d;*/
    border-radius: 100vh 100vh 0 0;
    z-index: 0;
    height: 55vh;
}

.row-line{
    display: inline-flex;
    width: 100%;
}

.indicator-circle{
    cursor: pointer;
    display: inline-block;
    border: solid 3px #fe721d;
    border-radius: 500px;
    width: 100px;
    height: 100px;
    background: white;
    color: #fe721d;
    position: relative;    
    overflow: hidden;
    padding: 7px;
}

.off{
    cursor: disabled;
    background: #c5c5c5;
    color: #000;
}

.indicator-count{
    font-family: arial;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}

.indicator-division-5{
    height: 330px;
    width: 20%;
    text-align: center;
}

.indicator-division-4{
    height: 330px;
    width: 25%;
    text-align: center;
}

.indicator-title{
    position: relative;
    color: white;
}

.top-1{
    margin-top: 5vh;
}

.top-2{
    margin-top: 20vh;
}

.top-3{
    margin-top: 30vh;
}

.bottom-1{
    margin-top: 35vh;
}

.bottom-2{
    margin-top: 21vh;
}

.bottom-3{
    margin-top: 16vh;
}

.img-bg{
    position: absolute;
    max-height: 100vh;
    transform: translateX(-50%);
    left: 50%;
}

.title-image {
    width: 20%;
    min-width: 140px;
    max-width: 300px;
}

@media screen and (min-width: 1200px) {
    .top-menu, .bottom-menu{
        width: calc(74vw - 30px);
        left: 13vw; 
    }
}