body{
    font-family: arial;
}

.hide-component{
    visibility: hidden;
}

.title-div{
    color: white;
}

.top-menu{
    min-height: 100px;
    background: #031d42;
}

.bottom-menu{
    min-height: 100px;
    background: #fe721d;
}

.row-line{
    display: inline-flex;
}

.indicator-circle{
    display: inline-block;
    border: solid 3px #fe721d;
    border-radius: 500px;
    width: 100px;
    height: 100px;
    background: white;
    color: #fe721d;
    position: relative;
}

.indicator-count{
    color: #fe721d;
    font-family: arial;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.indicator-division-5{
    width: 20%;
    text-align: center;
}

.indicator-division-4{
    width: 25%;
    text-align: center;
}

.indicator-title{
    color: white;
}