.header-image-container {
  position: relative;
}

.image-text {
  position: absolute;
  color: white;
  /*font-family: 'Arial';*/
  font-size: 4vw;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5vh;
}

.header-image {
  clip-path: inset(1vw 0 2vw 0);
  margin-top: -3.5vh;
  margin-left: -20px;
  width: 102vw;
}

.custom-button {
  position: absolute;
  margin-right: 10px;
  top: calc(50% - 35px);
  right: 20px;
  /* Ajusta el valor según sea necesario */
  padding: 10px 20px;
  font-size: 14px;
  max-width: 200px;
}