.btn.btn-link,
.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active {
    outline: none;
}

.pre-danger{
    background-color: #f45353;
    color: white;
    font-family: arial;
    font-size: 15px;
    font-weight: 500;
}

.pre-info{
    background-color: #ff5900;
    color: white;
    font-family: arial;
    font-size: 15px;
    font-weight: 500;
}