<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="row" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary btnderecha" ng-if="valorSeleccionado != lstPaginado.length" ng-click="siguiente()">Siguiente Pregunta</button>
            <button type="button" class="btn btn-primary btnderecha" ng-if="valorSeleccionado == lstPaginado.length" ng-click="siguiente()">Finalizar examen</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
            <p class="text-color">Para navegar por las preguntas del examen da clic en el número de la pregunta deseada</p>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button ng-repeat="row in lstPaginado" ng-class="row.seleccionado?'back-orange':row.contestado?'color-purple':'btnborder'" type="button" class="btn size redondo" ng-click="seleccionarPagina(row.numero)">{{row.numero}}
            </button>
        </div>
    </div>
</div>