
.bg-full{
    height: auto;
    width: auto;
    max-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.semicircle-img-carta{
    position: absolute;
    left: -3vh;
    top: -5vh;
    opacity: 1;
    height: calc(100% + 50px);
    max-width: 50%;
}
.semicircle-img-carta-horizontal {
    display: none;
}


.logo-img-carta{
    position: absolute;
    top: 0;
    left: 3vw;
    width: 13vw;
    min-width: 120px;
    z-index: 1;
}

.icon-img-carta {
    position: absolute;
    top: calc(50% - 5vh);
    transform: translateY(-50%);
    left: 9vw;
    width: 15%;
    z-index: 1;
}

.float-text{
    position: absolute;
    width: 500px;
    height: auto;
    min-height: 50px;
    z-index: 3;
    right: 2vw;
    transform: translateY(-50%);
    top: 50vh;
    color: #14233a;
    font-weight: 600;
    font-size: 2.5rem;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 3vh;
    margin-left: 44%;
    min-height: 68vh;
    height: 100%;
}

.no-result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    margin-left: 44%;
    min-height: 68vh;
    height: 100%;
}

.document-container-carta{
    overflow: hidden;
    padding: 0;
    width: 60%;
    box-shadow: 1px 1px 3px 1px black;
}

#imagen-carta {
    width: 100%;
}

.document-container-carta>object{
    height: 100%;
}

.bottom-banner{
    position: absolute;
    width: calc(100% + 37px);
    height: 8vh;
    bottom: -8vh;
    background: #ff5900;
    left: -22px;
    box-shadow: 1px 6px 6px 1px black;
    padding: 5px 15px;
}

.bottom-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.bottom-banner-text {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.logo-img-carta-pdf{
    height: auto;
    width: auto;
    max-height: 3vh;
}

.imagen-red-social {
    width: 32px;
}

.button-red-social-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}


@media only screen and (max-width: 1200px) {
}


@media only screen and (max-width: 767px) {
    .result-container {
        margin-left: 0;
        margin-top: 130px;
        min-height: 200px;
    }
    .no-result-container {
        margin-left: 0;
        min-height: 200px;
    }
    .logo-img-carta{
        display: none;
    }
    
    .icon-img-carta {
        width: 56px;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .semicircle-img-carta {
        display: none;
    }
    .semicircle-img-carta-horizontal { 
        display: unset;
        position: absolute;
        left: -16px;
        top: -33px;
        opacity: 1;
        height: 130px;
        width: calc(100% + 33px);;
    }
    
    .bottom-banner{
        height: 84px;
        left: -15px;
		width: calc(100% + 30px);
    }
    
    
     
    .bottom-banner-text {
        font-size: large;
        padding: 0;
    }
    
    .imagen-red-social {
        width: 24px;
    }
    
    .message-container {
        margin-top: 110px;
    }
}

@media only screen and (max-width: 576px) {
    .result-container {
        margin-bottom: 50px;
    }
    .no-result-container {
        margin-bottom: 50px;
    }
    
    .bottom-banner-content {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
    
    .button-red-social-container {
        justify-content: space-evenly;
        gap: 0;
    }
    
    .bottom-banner-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


