<label
            ng-if="!properties.labelHidden"
            ng-class="{ 'control-label--required': properties.required }"
            class="control-label col-xs-{{ !properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 12 }}"
            ng-bind-html="properties.label | uiTranslate">
</label>

 <input type="file" name="file" id="file">

<br/>
<input type="button" value="Upload" ng-click="CheckDimension()" />
<br/>
<br/>
Width: <span id='width'></span><br/>
Height: <span id='height'></span>

