<img src="assets/img/dashboard_bg.png" class="img-bg">
<div class="col-xs-12">
    <div class="col-xs-12 text-center title-div">
        <img src="widgets/customPSGRwidgetDashboard/assets/img/Posgrado Naranja@2x.png" class="title-image"/>  
    </div>
</div>

<div class=" top-menu">
    <div class="row-line">
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('en_proceso', isActivadoMenu('en_proceso'))" class="indicator-circle top-1" ng-class="{ 'off': !isActivadoMenu('iniciadas')}">
                    <h2 class="indicator-count">{{enProceso}}</h2>
                </div>
                
                <h4 class="indicator-title">Solicitudes iniciadas</h4>
            </div>
        </div>
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('nuevas_solicitudes', isActivadoMenu('nuevas_solicitudes'))" class="indicator-circle top-2" ng-class="{ 'off': !isActivadoMenu('nuevas')}">
                    <h2 class="indicator-count">{{nuevasSolicitudes}}</h2>
                </div>
                <h4 class="indicator-title">Nuevas solicitudes</h4>
            </div>
        </div>
        <!-- <div class="indicator-division-5">
            <div class="col-xs-12">
                <div ng-click="redirect('citas')" class="indicator-circle top-3">
                    <h2 class="indicator-count">{{citasAgendadas}}</h2>
                </div>
                <h4 class="indicator-title">Citas agendadas</h4>
            </div>
        </div> -->
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('pase_lista', isActivadoMenu('pase_lista'))" class="indicator-circle top-2" ng-class="{ 'off': !isActivadoMenu('pase_lista')}">
                    <!--<img style="width: 100%; height: 100%;" src="assets/img/pl1.jpg">-->
                    <h2 class="indicator-count">{{paseLista}}</h2>
                </div>
                <h4 class="indicator-title">Pase de lista</h4>
            </div>
        </div>
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('transferencias', isActivadoMenu('transferencias'))" class="indicator-circle top-1" ng-class="{ 'off': !isActivadoMenu('transferencias')}">
                    <img style="width: 100%; height: 100%;" src="assets/img/tr1.jpg">
                </div>
                <h4 class="indicator-title">Transferencias</h4>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 bottom-menu">
    <div class="row-line">
        <!-- <div class="indicator-division-5">
            <div class="col-xs-12">
                <div ng-click="redirect('estadisticas', isActivadoMenu('estadisticas'))" class="indicator-circle bottom-1" ng-class="{ 'off': !isActivadoMenu('estadisticas')}">
                    <img style="width: 100%; height: 100%;" src="assets/img/rp1.jpg">
                </div>
                <h4 class="indicator-title">Estadísticas</h4>
            </div>
        </div> -->
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('dictamen', isActivadoMenu('dictamen'))" class="indicator-circle bottom-1" ng-class="{ 'off': !isActivadoMenu('dictamen')}">
                    <h2 class="indicator-count">{{dictamen}}</h2>
                </div>
                <h4 class="indicator-title">En espera de dictamen</h4>
            </div>
        </div>
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('admitidos', isActivadoMenu('admitidos'))" class="indicator-circle bottom-2" ng-class="{ 'off': !isActivadoMenu('admitidos')}">
                    <h2 class="indicator-count">{{admitidos}}</h2>
                </div>
                <h4 class="indicator-title">Admitidos</h4>
            </div>
        </div>
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('no_admitidos', isActivadoMenu('no_admitidos'))" class="indicator-circle bottom-2" ng-class="{ 'off': !isActivadoMenu('no_admitidos')}">
                    <h2 class="indicator-count">{{noAdmitidos}}</h2>
                </div>
                <h4 class="indicator-title">No admitidos</h4>
            </div>
        </div>
        <div class="indicator-division-4">
            <div class="col-xs-12">
                <div ng-click="redirect('solicitudes_archivadas', isActivadoMenu('solicitudes_archivadas'))" class="indicator-circle bottom-1" ng-class="{ 'off': !isActivadoMenu('archivadas')}">
                    <h2 class="indicator-count">{{rechazados}}</h2>
                </div>
                <h4 class="indicator-title">Solicitudes archivadas</h4>
            </div>
        </div>
    </div>
</div>