.div-circular {
    width: 21vh;
    height: 21vh;
    border: 3px solid #031d42;
    border-radius: 50%;
    text-align: center;
}

.circle-1{
    position: fixed;
    top: 18vh;
    left: 8vw;
}

.circle-2{
    position: fixed;
    top: 46vh;
    left: 21.5vw;
}

.circle-3{
    position: fixed;
    top: 64vh;
    left: 40vw;
}

.circle-4{
    position: fixed;
    top: 57vh;
    left: 59.2vw;
}

.circle-5{
    position: fixed;
    top: 37vh;
    left: 76vw;
}

.circle-6{
    position: fixed;
    top: 7vh;
    left: 87vw;
}

.title-count{
    top: 2vh;
    position: relative;
    font-size: 3vh;
    color: #eb5b1c;
}

.title-sol{
    position: relative;
    transform: translateX(-50%);
    left: 50%; 
    font-size: 2vh;
    color: #031d42;
}

.icon-float{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -4vh;
}