.div-circular {
    background: white;
    width: 25vh;
    height: 25vh;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.div-circular.finished, .div-circular.pending{
    /*background: #28a745;*/
    cursor: default;
}

.div-circular.current{
    /*background: #ff5900;*/
}

/*.div-circular:hover {*/
.div-circular:not(.finished):hover {
    transform: scale(1.15);
}

.circle-1{
    position: fixed;
    top: 10vh;
    left: 20vw;
}

.circle-2{
    position: fixed;
    top: 40vh;
    left: 16.5vw;
}

.circle-3{
    position: fixed;
    top: 66vh;
    left: 28vw;
}

.circle-4{
    position: fixed;
    top: 66vh;
    left: 104vh;
}

.circle-5{
    position: fixed;
    top: 41vh;
    left: 69vw;
}

.circle-6{
    position: fixed;
    top: 10vh;
    left: 65.5vw;
}

.div-circular>.title-sol{
    position: relative;
    font-size: 2vh;
    color: #031d42;
    margin-top: 5px;
}

.div-circular:not(.finished)>.title-sol{
    color: #031d42;
}

.div-circular>.title-sol, .div-circular.current>.title-sol{
    position: relative;
    color: #706f6f;
    top: 33%;
    padding-left: 3vh;
    padding-right: 3vh;
}

.div-circular.finished>.title-sol {
    color: white;
}

.icon-float{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0vh;
    width: auto;
    height: auto;
    max-width: 10vw;
    max-height: 10vw;
}

.balloon-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #706f6f;
}