.div-circular {
    background: white;
    width: 21vh;
    height: 21vh;
    border: 3px solid #031d42;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.div-circular.finished{
    background: #28a745;
    cursor: default;
}

.div-circular.current{
    background: #ff5900;
}

/*.div-circular:hover {*/
.div-circular:not(.finished):hover {
    transform: scale(1.15);
}

.circle-1{
    position: fixed;
    top: 10vh;
    left: 8vw;
}

.circle-2{
    position: fixed;
    top: 31vh;
    left: 19.5vw;
}

.circle-3{
    position: fixed;
    top: 42vh;
    left: 38vw;
}

.circle-4{
    position: fixed;
    top: 39vh;
    left: 58.2vw;
}

.circle-5{
    position: fixed;
    top: 27vh;
    left: 74vw;
}

.circle-6{
    position: fixed;
    top: 3vh;
    left: 84vw;
}

.title-count{
    top: 2vh;
    position: relative;
    font-size: 3vh;
    color: #eb5b1c;
}

.div-circular>.title-sol{
    position: relative;
    font-size: 2vh;
    color: #031d42;
    margin-top: 5px;
}

.div-circular:not(.finished)>.title-sol{
    color: #031d42;
}

.div-circular.finished>.title-sol, .div-circular.current>.title-sol , .div-circular.finished>.title-count , .div-circular.current>.title-count{
    color: white;
}

.icon-float{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -4vh;
    width: auto;
    height: auto;
    max-width: 8vw;
    max-height: 8vw;
}