.main-container-registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 90px;
}

.full-height{
    height: 100%;
} 

.full-width{
    width: 100%;
}

.bg{
    background:red;
}

.position-relative{
    position: relative;
}

.m-bottom-custom {
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) { 
    .main-container-registrar {
        padding-top: 30px;
        padding-bottom: 55px;
    }
}
