/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

.nav-tabs>li>a.active {
    background:orange;
}
.nav-tabs>li>a::not(.active) {
    background:black;
}

.bg-full{
    height: auto;
    width: auto;
    max-height: 100vh;
    min-width: 100vw;
    /* height: 100vh;*/
    /*width: 100vw;*/
    position: fixed;
    top:0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.a-img{
    position: fixed;
    height: 100vh;
    width: auto;
    background: white;
    left: -10vw;
    top: 0;
    max-width: 40%;
    min-width: 21vw;
    object-fit: cover;
    
}

.semicircle-img{
    position: fixed;
    opacity: 1;
    height: 116vh;
    left: 11vw;
    top: -4vh;
}

.logo-img{
    position: absolute;
    top: 13vh;
    left: 19vw;
    width: 13vw;
    min-width: 200px;
    max-width: 250px;
    z-index: 1;
}

.icon-img {
    position: absolute;
    top: 37vh;
    left: 13vw;
    width: 168px;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    
    .a-img{
        display: none;
    }
    
    .semicircle-img{
        left: 0;
        max-width: 100vw;
    }
    
    .logo-img{
        top: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .icon-img {
        display: none;
    }
}