/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

.nav-tabs>li>a.active {
    background:orange;
}
.nav-tabs>li>a::not(.active) {
    background:black;
}

.bg-full{
    height: auto;
    width: auto;
    max-height: 100vh;
    min-width: 100vw;
    /* height: 100vh;*/
    /*width: 100vw;*/
    position: fixed;
    top:0;
    left: 0;
    opacity: 0.5;
    filter: brightness(0.6);
    z-index: -1;
}


.semicircle-img{
    position: fixed;
    opacity: 1;
    height: 116vh;
    left: -4vw;
    top: -4vh;
    max-width: 50%;
    width: 50%;
}

.logo-img{
    position: absolute;
    top: 13vh;
    left: 19vw;
    width: 13vw;
    z-index: 1;
}

.icon-img {
    position: absolute;
    top: 37vh;
    left: 13vw;
    width: 168px;
    max-width: 15%;
    z-index: 1;
}

.float-text{
    position: absolute;
    width: 50%;
    height: auto;
    min-height: 50px;
    z-index: 3;
    right: 2vw;
    transform: translateY(-50%);
    top: 50vh;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-size: 2.5rem;
}
