.main-footer{
    background: #231F20;
    height: 6vh;
    overflow: hidden;
    /*height: 10vh;*/
    /*margin-top: 3px;*/
}

.top-footer{
    /*background: #231F20;*/
    height: 80%;
    color: white;
    display: flex;
    align-items: center;
}

.bottom-footer{
    background: #4B4546;
    height: 20%;
}



@media only screen and (max-width: 767px) { 
    .main-footer {
    	font-size: x-small;
    }
}
