<div class="row" ng-show="hasRole()">
    <div class="col-xs-12 text-center dashboard-baloon-container">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':(isTiSerua || isPreautorizacion),'balloon-container-disabled' :  !(isTiSerua || isPreautorizacion)}" ng-click="redirect('vistageneral', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="(isTiSerua || isPreautorizacion || isCrisp)" src="assets/img/Solicitudes vista general.png">
                    <img class="img-limited" ng-if="!(isTiSerua || isPreautorizacion || isCrisp)" src="assets/img/Solicitudes vista general gris.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isTiSerua || isPreautorizacion || isCrisp),'color-gray-disabled' :  !(isTiSerua || isPreautorizacion)}">Solicitudes vista general</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':(isTiSerua || isPreautorizacion),'balloon-container-disabled' :  !(isTiSerua || isPreautorizacion)}" ng-click="redirect('progreso', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="(isTiSerua || isPreautorizacion || isCrisp)" src="assets/img/solicitud iniciada.png">
                    <img class="img-limited" ng-if="!(isTiSerua || isPreautorizacion || isCrisp)" src="assets/img/solicitud iniciada gris.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isTiSerua || isPreautorizacion || isCrisp),'color-gray-disabled' :  !(isTiSerua || isPreautorizacion)}">Solicitudes iniciadas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':(isTiSerua || isPreautorizacion),'balloon-container-disabled' :  !(isTiSerua || isPreautorizacion)}" ng-click="redirect('preauto', '')" >
            <div class="text-center position-relative">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="(isTiSerua || isPreautorizacion)" src="assets/img/solicitud pre autoriza.png">
                    <img class="img-limited" ng-if="!(isTiSerua || isPreautorizacion)" src="assets/img/solicitud pre autoriza gris.png">
                    <div class="notification-container">
                        <p ng-if="(isTiSerua || isPreautorizacion)" ng-class="{'text-light':countPreautorizacion > 0}" class="text-baloon">{{countPreautorizacion}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isPreautorizacion),'color-gray-disabled' :  !( isTiSerua || isPreautorizacion)}">Solicitudes en pre-autorización (becas)</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':( isTiSerua || isAreaArtistica),'balloon-container-disabled' :  !( isTiSerua || isAreaArtistica)}" ng-click="redirect('artistica', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isAreaArtistica)" src="assets/img/solicitudes en área artística.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isAreaArtistica)" src="assets/img/solicitudes en área artística gris.png">
                    <div class="notification-container">
                        <p ng-if="( isTiSerua || isAreaArtistica)" ng-class="{'text-light':countArtistica > 0}" class="text-baloon">{{countArtistica}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isAreaArtistica),'color-gray-disabled' :  !( isTiSerua || isAreaArtistica)}">Solicitudes en área artística</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':( isTiSerua || isAreDeportiva),'balloon-container-disabled' :  !( isTiSerua || isAreDeportiva)}" ng-click="redirect('deportiva', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isAreDeportiva)" src="assets/img/solicitudes en área deportiva.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isAreDeportiva)" src="assets/img/solicitudes en área deportiva gris.png">
                    <div class="notification-container">
                        <p ng-if="( isTiSerua || isAreDeportiva)" ng-class="{'text-light':countDeportiva > 0}" class="text-baloon">{{countDeportiva}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isAreDeportiva),'color-gray-disabled' :  !( isTiSerua || isAreDeportiva)}">Solicitudes en área deportiva</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':( isTiSerua || isBecas),'balloon-container-disabled' :  !( isTiSerua || isBecas)}" ng-click="redirect('esperapago', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isBecas)" src="assets/img/solicitud espera pago.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isBecas)" src="assets/img/solicitud espera gris.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isBecas),'color-gray-disabled' :  !( isTiSerua || isBecas)}">Solicitudes en espera de pago</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':( isTiSerua || isBecas),'balloon-container-disabled' :  !( isTiSerua || isBecas)}" ng-click="redirect('comitebecas', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isBecas)" src="assets/img/solicitudes comite becas.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isBecas)" src="assets/img/solicitudes comite becas gris.png">
                    <div class="notification-container">
                        <p ng-if="( isTiSerua || isBecas)" ng-class="{'text-light':countComiteBecas > 0}" class="text-baloon">{{countComiteBecas}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isBecas),'color-gray-disabled' :  !( isTiSerua || isBecas)}">Solicitudes en comité de becas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':(isTiSerua || isBecas),'balloon-container-disabled' :  !(isTiSerua || isBecas)}" ng-click="redirect('cierre', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited"  ng-if="(isTiSerua || isBecas)" src="assets/img/solicitudes en cierre.png">
                    <img class="img-limited"  ng-if="!(isTiSerua || isBecas)" src="assets/img/solicitudes en cierre gris.png">
                    <div class="notification-container">
                        <p ng-if="(isTiSerua || isBecas)" ng-class="{'text-light':countCierreBecas > 0}" class="text-baloon">{{countCierreBecas}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isTiSerua || isBecas),'color-gray-disabled' :  !(isTiSerua || isBecas)}">Solicitudes en cierre (becas)</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':( isTiSerua || isBecas),'balloon-container-disabled' :  !( isTiSerua || isBecas)}" ng-click="redirect('archivadas', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isBecas)" src="assets/img/solicitudes archivadas 2.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isBecas)" src="assets/img/solicitudes archivadas 2 gris.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isBecas),'color-gray-disabled' :  !( isTiSerua || isBecas)}">Solicitudes archivadas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':( isTiSerua || isFinanciamiento),'balloon-container-disabled' :  !( isTiSerua || isFinanciamiento)}" ng-click="redirect('iniciadasaval', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isFinanciamiento || isCrisp)" src="assets/img/solicitud iniciada aval.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isFinanciamiento || isCrisp)" src="assets/img/solicitud iniciada aval gris.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isFinanciamiento || isCrisp),'color-gray-disabled' :  !( isTiSerua || isFinanciamiento)}">Solicitudes iniciadas (aval)</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':( isTiSerua || isFinanciamiento),'balloon-container-disabled' :  !( isTiSerua || isFinanciamiento)}" ng-click="redirect('financiamiento', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isFinanciamiento)" src="assets/img/solicitud pre autoriza.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isFinanciamiento)" src="assets/img/solicitud pre autoriza gris.png">
                    <div class="notification-container">
                        <p ng-if="( isTiSerua || isFinanciamiento)" ng-class="{'text-light':countPreAutoFina > 0}" class="text-baloon">{{countPreAutoFina}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isFinanciamiento),'color-gray-disabled' :  !( isTiSerua || isFinanciamiento)}">Solicitudes en pre-autorización (financiamiento educativo)</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':( isTiSerua || isFinanciamiento || isComiteFinanzas),'balloon-container-disabled' :  !( isTiSerua || isFinanciamiento || isComiteFinanzas)}" ng-click="redirect('archivofinan', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isFinanciamiento || isComiteFinanzas)" src="assets/img/solicitudes archivadas 2.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isFinanciamiento || isComiteFinanzas)" src="assets/img/solicitudes archivadas 2 gris.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isFinanciamiento || isComiteFinanzas),'color-gray-disabled' :  !( isTiSerua || isFinanciamiento || isComiteFinanzas)}">Solicitudes archivadas (Financiamiento educativo)</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':( isTiSerua || isComiteFinanzas),'balloon-container-disabled' :  !( isTiSerua || isComiteFinanzas)}" ng-click="redirect('comitefinan', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isComiteFinanzas)" src="assets/img/solicitudes en comite finan.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isComiteFinanzas)" src="assets/img/solicitudes en comite finan gris.png">
                    <div class="notification-container">
                        <p ng-if="( isTiSerua || isComiteFinanzas)" ng-class="{'text-light':countComiteFinanzas > 0}" class="text-baloon">{{countComiteFinanzas}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isComiteFinanzas),'color-gray-disabled' :  !( isTiSerua || isComiteFinanzas)}">Solicitudes en comité de finanzas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':( isTiSerua || isComiteFinanzas || isFinanciamiento),'balloon-container-disabled' :  !( isTiSerua || isComiteFinanzas || isFinanciamiento)}" ng-click="redirect('cierrefinan', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isComiteFinanzas || isFinanciamiento)" src="assets/img/solicitudes en cierre financia.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isComiteFinanzas || isFinanciamiento)" src="assets/img/solicitudes en cierre financia gris.png">
                    <div class="notification-container">
                        <p ng-if="( isTiSerua || isComiteFinanzas)" ng-class="{'text-light':countCierreFinanzas > 0}" class="text-baloon">{{countCierreFinanzas}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isComiteFinanzas || isFinanciamiento),'color-gray-disabled' :  !( isTiSerua || isComiteFinanzas || isFinanciamiento)}">Solicitudes en cierre (Financiamiento educativo)</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':( isTiSerua || isComiteFinanzas || isFinanciamiento || isBecas),'balloon-container-disabled' :  !( isTiSerua || isComiteFinanzas || isFinanciamiento || isBecas)}" ng-click="redirect('apoyosotorgados', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="( isTiSerua || isComiteFinanzas || isFinanciamiento || isBecas)" src="assets/img/Apoyos otorgados.png">
                    <img class="img-limited" ng-if="!( isTiSerua || isComiteFinanzas || isFinanciamiento || isBecas)" src="assets/img/Apoyos otorgados gris.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':( isTiSerua || isComiteFinanzas || isFinanciamiento || isBecas),'color-gray-disabled' :  !( isTiSerua || isComiteFinanzas || isFinanciamiento || isBecas)}">Apoyos educativos otorgados</h4>
                </div>
            </div>
        </div>
    </div>
</div>