<div class="table-responsive">
    <table class="table" ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Tamaño</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td>
                    {{row.documento.descripcion}}
                </td>
                <td>
                    {{ row.tamano_documento }}
                </td>
                <td>
                    <input id="inputArchivo" style="display: none" ng-disabled="!properties.editar" class="file-upload-input"
                    ng-class="{'file-upload-input--disabled':$isUploading}" name="{{ctrl.name}}"
                    type="file" ng-required="properties.required" ng-model="archivoSeleccionado"
                    accept="image/jpg, image/jpeg, image/png, application/pdf" />
                    
                    <button type="button" class="btn btn-link" ng-if="!row.url_azure" ng-click="activarInputArchivo()">
                        <span class="glyphicon glyphicon-upload"></span>
                    </button>
                    <button type="button" class="btn btn-link" ng-if="row.url_azure">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="!properties.content || properties.content.length === 0">
                <td colspan="3" style="text-align: center;">
                    No se encontraron registros para mostrar.
                </td>
            </tr>
        </tbody>
    </table>
</div>
