<img src="assets/img/fonfo_home.png" style="position: fixed; width: 100vw; height: auto;">

<div class="div-circular circle-1 finished" >
    <label class="title-count">1</label>
    <br>
    <label class="title-sol">Registro / crear cuenta</label>
    <img src="assets/img/Mi cuenta.png" class="icon-float" >
</div>
<div class="div-circular circle-2 finished" ng-click="redirectTo('pg_solicitud')">
    <label class="title-count">2</label>
    <br>
    <label class="title-sol">Solicitud de admisión</label>
    <img src="assets/img/Solicitud.png" class="icon-float" >
</div>
<div class="div-circular circle-3 finished" ng-click="redirectTo('pg_solicitud')">
    <label class="title-count">3</label>
    <br>
    <label class="title-sol">Carga de documentos</label>
    <img src="assets/img/Cita.png" class="icon-float" >
</div>
<div class="div-circular circle-4 current" ng-click="redirectTo('pg_seleccionar_cita')">
    <label class="title-count">4</label>
    <br>
    <label class="title-sol">Entrevista con el coordinador</label>
    <label class="title-sol" style="border-top: solid 1px red">Aprobación con el coordinador</label>
    <img src="assets/img/Entrevista.png" class="icon-float" >
</div>
<div class="div-circular circle-5">
    <label class="title-count">5</label>
    <br>
    <label class="title-sol">Aprobación de documentación</label>
    <img src="assets/img/Revision.png" class="icon-float" >
</div>
<div class="div-circular circle-6">
    <label class="title-count">6</label>
    <br>
    <label class="title-sol">Admisión</label>
    <img src="assets/img/Dictamen.png" class="icon-float" >
</div>