<img src="assets/img/Círculo exterior.png" style="position: fixed; width: 100vw; height: auto;">
<img src="assets/img/Círclo interior.png" style="position: fixed; width: 36vw; height: auto; transform: translate(-50%, -50%); top: 45vh; left: 50%;">

<div class="div-circular circle-1 {{setEstatus(1)}}" >
    <img src="assets/img/Insumos MENU-05.png" class="balloon-icon" ng-if="setEstatus(1) === 'finished'">
    <img src="assets/img/Insumos MENU-09.png" class="balloon-icon" ng-if="setEstatus(1) === 'current'">
    <img src="assets/img/Insumos MENU-04.png" class="balloon-icon" ng-if="setEstatus(1) === 'pending'">
    <label class="title-sol">Registro / crear cuenta</label>
    <img src="assets/img/Insumos MENU-22.png" class="icon-float" >
</div>
<div class="div-circular circle-2 {{setEstatus(2)}}" ng-click="redirectTo('pg_solicitud')">
    <img src="assets/img/Insumos MENU-06.png" class="balloon-icon" ng-if="setEstatus(2) === 'finished'">
    <img src="assets/img/Insumos MENU-10.png" class="balloon-icon" ng-if="setEstatus(2) === 'current'">
    <img src="assets/img/Insumos MENU-15.png" class="balloon-icon" ng-if="setEstatus(2) === 'pending'">
    <label class="title-sol">Solicitud de admisión</label>
    <img src="assets/img/Insumos MENU-23.png" class="icon-float" >
</div>
<div class="div-circular circle-3 {{setEstatus(3)}}" ng-click="redirectTo('pg_solicitud')">
    <img src="assets/img/Insumos MENU-20.png" class="balloon-icon" ng-if="setEstatus(3) === 'finished'">
    <img src="assets/img/Insumos MENU-11.png" class="balloon-icon" ng-if="setEstatus(3) === 'current'">
    <img src="assets/img/Insumos MENU-18.png" class="balloon-icon" ng-if="setEstatus(3) === 'pending'">
    <br>
    <label class="title-sol">Carga de documentos</label>
    <img src="assets/img/Insumos MENU-24.png" class="icon-float" >
</div>
<div class="div-circular circle-4 {{setEstatus(4)}}" ng-click="redirectTo('pg_seleccionar_cita')">
    <img src="assets/img/Insumos MENU-21.png" class="balloon-icon" ng-if="setEstatus(4) === 'finished'">
    <img src="assets/img/Insumos MENU-12.png" class="balloon-icon" ng-if="setEstatus(4) === 'current'">
    <img src="assets/img/Insumos MENU-19.png" class="balloon-icon" ng-if="setEstatus(4) === 'pending'">
    
    <label class="title-sol">Entrevista con el coordinador</label>
    <label class="title-sol" style="border-top: solid 1px red">Aprobación con el coordinador</label>
    <img src="assets/img/Insumos MENU-25.png" class="icon-float" >
</div>
<div class="div-circular circle-5 {{setEstatus(5)}}">
    <img src="assets/img/Insumos MENU-07.png" class="balloon-icon" ng-if="setEstatus(5) === 'finished'">
    <img src="assets/img/Insumos MENU-13.png" class="balloon-icon" ng-if="setEstatus(5) === 'current'">
    <img src="assets/img/Insumos MENU-17.png" class="balloon-icon" ng-if="setEstatus(5) === 'pending'">
    <label class="title-sol">Aprobación de documentación</label>
    <img src="assets/img/Insumos MENU-26.png" class="icon-float" >
</div>
<div class="div-circular circle-6 {{setEstatus(6)}}">
    <img src="assets/img/Insumos MENU-08.png" class="balloon-icon" ng-if="setEstatus(6) === 'finished'">
    <img src="assets/img/Insumos MENU-14.png" class="balloon-icon" ng-if="setEstatus(6) === 'current'">
    <img src="assets/img/Insumos MENU-16.png" class="balloon-icon" ng-if="setEstatus(6) === 'pending'">
    <label class="title-sol">Admisión</label>
    <img src="assets/img/Insumos MENU-27.png" class="icon-float" >
</div>