.header-image-container {
  position: relative;
  margin: -3px -15px;
  margin-bottom: 10px;
}

.background-image {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: none;
  margin: 0;
}

.elements-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo-image {
    width: 15%;
}

.header-title {
  color: white;
  font-family: 'Times New Roman', serif;
  font-size: 4vw;
}

.button-container {
    width: 15%;
    display: flex;
    justify-content: end;
}

.custom-button {
  /* Ajusta el valor según sea necesario */
  position: static;
  padding: 10px 20px;
  font-size: 14px;
  max-width: 200px;
  margin-right: 0;
}