body {
  margin: 0;
  padding: 0;
  padding-top: 200px;
}

.header-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 999;
  text-align: center;
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: auto;
  clip-path: inset(25px 0 35px 0);
  transform: translateY(-35px);
}

.image-text {
  position: absolute;
  top: calc(50% - 40px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  line-height: 1;
  z-index: 1000;
}

button {
  position: absolute;
  margin-right: 10px;
  top: calc(50% - 55px); /* Mismo valor que .image-text */
  right: 20px; /* Ajusta el valor según sea necesario */
}