
.navbar {
    height: 96vh
}

.navbar-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 10px 0px 10px;
    gap: 10px;
}

.navbar-header-image-container {
    display: flex;
    justify-content: center;
}

.navbar-header-image {
    width: 80%;
    max-width: 188px;
}

.navbar-header-buttons-container {
    display: flex;
    justify-content: center;
}

.navbar-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 78%;
}

.navbar-background-image {
    position: absolute;
    max-width: 300px;
    height: 100%;
    margin-right: 15px;
    object-fit: contain;
}

.menu-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/2;
    margin: 0px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

/*------*/

.menu-item{
    z-index: 1;
    border-radius: 500px;
    width: 70px;
    height: 70px;
    background: white;
    border: solid 3px #ff5900;
    color: #ff5900;
    transition: transform .2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-item-selected{
    background: #ff5900;
}

.menu-item:hover{
    transform: scale(1.1);
}

.menu-items-1{
    margin-left: 8%;
}

.menu-items-2{
    margin-left: 30%;
}

.menu-items-3{
    margin-left: 8%;
}

.menu-icon-img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-nombre{
    background: #ff5900;
}

.navbar-toggle {
    display: none;
    margin-right: 0px !important;
}

@media only screen and (min-width: 993px) {
    .menu-item{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .menu-item{
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width: 767px){ 
    .navbar-toggle {
        display: block;
    }
    
    .navbar {
        height: 64px;
    }
    
    .navbar-header {
        flex-direction: row;
        padding: 0px;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
    .navbar-header-image-container {
        display: flex;
        justify-content: flex-start;
    }
    
    .navbar-header-image {
        width: auto;
        height: 40px;
    }
    
    .navbar-header-buttons-container {
        display: flex;
        justify-content: flex-end;
        gap: 10px
    }
    
    .navbar-content {
        z-index: 1;
        background: #15243c;
        position: absolute;
        left: -1px;
        top: 62px;
        width: 300px;
        height: calc(100vh - 62px);
        max-width: 100%;
        padding: 35px 0;
        box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.35);
    }
}